# Dart / Flutter
.dart_tool/
.packages
build/
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies

# Node (SDK bundling)
node_modules/
assets/payment_widget_sdk.js

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
